body{
  overflow-x: hidden;
  overflow-y: scroll;
}

#wrapper {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 200%;
}

@font-face {
    font-family: coreBold;
    src: url(./fonts/CoreSansD55Bold.otf);
  }

@font-face {
    font-family: coreRegular;
    src: url(./fonts/CoreSansD35Regular.otf);
}

@font-face {
    font-family: coreLight;
    src: url(./fonts/CoreSansD25Light.otf);
}

#marchio {
  position: absolute;
  top: 2%; left: 3.84%;
  width: 72px; height: 72px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./links/marchio.png")
}

p {
  font-family: coreBold;
  color: #ffffff;
}

a{
    text-decoration: none;
}

.testo {
  position: absolute;
  font-family: coreBold;
  color: #000000;
  font-size:20px;

  }

#testoHeader {
  position: absolute;
  top: 0; right: 1%;
  width: 250px; height: 5.88%;
}

#prodotti-text{
  position: relative;
  right: 21.7%; top: 50%;
  transform: translate(0, -50%);
}

#negozio-text{
  position: relative;
  right: 12.2%; top: 50%;
  transform: translate(0, -50%);

}

#volantino-text{
    position: relative;
    right: 3.84%; top: 50%;
    transform: translate(0, -50%);

}

.rosso {
  color: #c3272f;
}
