#hideAll {
   position: fixed;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */
 }

 #spinner {
   position: absolute;
   top: 50%; left: 50%;
   transform-origin: center;
   transform: translate(-50%, -50%);
   border-radius: 25% 25% 0 25%;
   background-color: #c32630;
   width: 80px; height: 80px;
   z-index: 99;
   animation: pulse 0.5s infinite alternate;
 }

 @keyframes pulse {
 from {width: 40px; height: 40px;}
 to {width: 60px; height: 60px;}
 }
