#cerca {
  position: absolute;
  top: 41.17%; left: 7.69%;
  width: 30.76%;
  height: 5.88%;
  border: 5px solid #c32630;
  border-radius: 15px;
  font-family: coreRegular;
  font-size: 15px;
}

#titolo {
  position: absolute;
  top: 23.52%; left: 7.69%;
  font-size: 40px;
  font-family: coreCnBold;
  font-size:55px;
}

#button {
  position: absolute;
  top: 49%; left: 7.69%;
  width: 7.69%; height: 5.88%;
  background-position: center;
  background-color: #c31f24;
  border-radius: 15px 15px;
  font-family: coreRegular;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  font-size: 20px;
  line-height: -100%;
  cursor: pointer;
}

#testobutton {
  position: absolute;
  top: 49%; left: 50%;
  transform: translate(-50%, -50%);
}

#negoziovicino {
  position:absolute;
  top: 81%; left: 7.69%;
  display: none;
}

#map {
  position: absolute;
  width: 38.46%; height: 47.05%;
  top: 41.17%; left: 53.84%;
  display: none;
}

#cercatesto {
  position: absolute;
  top: 42.5%; left: 9%;
  opacity: 0.5;
  font-family: coreRegular;
  font-size: 15px;
}

#cercatesto.red {
  color: #c32630;
  opacity: 1;
  font-family: coreBold;
}
