#titolo {
  position: absolute;
  top: calc(100/34*4%); left: 7.69%;
  font-size: 40px;
  font-family: coreCnBold;
  font-size:55px;
}

#filcontainer {
  position: absolute;
  top: calc(100/34*6%); left: 0;
  width: 100%; height: calc(100/34*6%);
}

#frecciasx1 {
  position: absolute;
  top: 0; left: calc(100/13*4%);
  width: 7.69%; height: 100%;
  background-image: url("./links/Risorsa 21.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#frecciadx1 {
  position: absolute;
  top: 0; right: 3.84%;
  width: 7.69%; height: 100%;
  background-image: url("./links/Risorsa 22.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#prodfil {
  position: absolute;
  top: 0; left: calc(100/13*5%);
  width: calc(100/26*13%); height: 100%;

}

.veritadim {
  position: absolute;
  top: 0;
  width: 50%; height: 100%;
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 60% center;
  pointer-events: all;
}

#manofil {
  position: absolute;
  top: 0; left: 0;
  width: calc(100/26*7%); height: 100%;
  background-image: url("./links/Risorsa 23.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: left center;
}
