#banner {
  position: absolute;
  width: 100%; height: 35.29%;
  top: 8.82%; left: 0;
  background-image: url("./links/eRisorsa 7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner.due {
  transition: 1s;
  background-size: cover;
  background-color:  #c3272f;
  background-position: center top;
  background-image: url("./links/eRisorsa 19.png");
}

#p1 {
  position: absolute;
  font-size: 30px;
  top: 62%; left: 7.69%;
}

#slide {
    position: absolute;
    top: 50%; right: -69.23%;
    width: 69.23%; height: 50%;
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url("./links/dio.png");
  }

#frecciasx {
  position: absolute;
  top: 0; left: 0;
  width: 7.69%; height: 50%;
}

#frecciasx.appari {
  background-image: url("./links/eRisorsa 17.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: auto;
  cursor: pointer;
}

#frecciadx {
  position: absolute;
  right: 0; top: 0;
  width: 7.69%; height: 50%;
}

#frecciadx.appari {
  background-image: url("./links/eRisorsa 18.png");
  background-position: left center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: auto;
}
