#box {
  position: absolute;
  top:17.64%; left: 7.69%;
  width: 40.76%; height: 64.70%;
  background-position: center;
  background-color: #ffffff;
  border: 5px solid #c31f24;
  border-radius: 30px 30px;
}

#prezzo {
  position: absolute;
  top: 49%; left: 53.8%;
  width: 7.7%; height: 5.9%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./links/soldi.png")
}

#button {
  position: absolute;
  top:58.8%; left: 53.8%;
  width: 15.3%; height: 5.88%;
  background-position: center;
  background-color: #c31f24;
  border-radius: 15px 15px;
  font-family: coreRegular;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  font-size: 20px;
}

#scatoletta1{
  font-family: coreRegular;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  top: 14.5%;
  left: 5%;

}

#toppa {
  position: absolute;
    top:35%; left: 70%;
  width: 30%; height: 30%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./links/toppa.png")
}

#scatoletta.comparso{
  animation: compari 1s ease-in-out;
  bottom:-7%; left: -8%;
    }

@keyframes compari {
  from{bottom:-100%;}
  to{bottom: -7%}

}

p {
  font-family: coreBold;
  color: #ffffff;
}

a{
    text-decoration: none;
}

.testo {
  position: absolute;
  font-family: coreBold;
  color: #000000;
  font-size:20px;
  top: 5.88%;

  }

#prodotti-text{
  right: 19.2%; top: 5.88%;
}

#negozio-text{
  right: 12.2%;
}

#volantino-text{
    right: 3.84%;
}


#frase-scatoletta {
  position: absolute;
  top:29.40%; left: 53.8%;
  font-size: 30px;
}
#categoria {
  font-family: coreRegular;
  position: absolute;
  top:35%; left: 53.8%;
  font-size: 25px;
}
