@font-face {
    font-family: coreBold;
    src: url(./fonts/CoreSansD55Bold.otf);
  }

@font-face {
    font-family: coreCnHeavy;
    src: url(./fonts/CoreSansD67CnHeavy.otf);
  }

body {
  overflow: hidden;
}

#wrapper {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

#filosofia-box {
  position: absolute;
  top: 0; left: 0;
  width: 50%; height: 50%;

}

#politica-box {
  position: absolute;
  top: 0; left: 50%;
  width: 50%; height: 50%;

}

#societa-box {
  position: absolute;
  top: 50%; left: 50%;
  width: 50%; height: 50%;

}

#religione-box {
  position: absolute;
  top: 50%; left: 0;
  width: 50%; height: 50%;

}

.box {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

.filosofia {
  background-position: right bottom;
}

.politica {
  background-position: left bottom;
}

.societa {
  background-position: left top;
}

.religione {
  background-position: right top;
}

@keyframes float {
  0% {transform: translate(0px, 0px)}

  100% {transform: translate(0px, -5px)}
}

@keyframes ciccio {
  from {transform: rotate(-5deg);}
  to {transform: rotate(5deg);}
}

@keyframes identi {
  from {transform: translateY(-2.5px)}
  to {transform: translateY(2.5px);}
}



#titolo {
  font-size: 35px;
  font-family: coreCnHeavy;
  position: absolute;
  width: 100%; height: 8%;
  top: 4%; left: 5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}

#logo {
  position: absolute;
  width: 100%; height: 20%;
  bottom: 0; right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./images/marchio.png");
  background-position: right bottom;
}

#vendita {
  position: absolute;
  width: 100px; height: 100px;
  top: 45%; left: 50%;
  /*background-color: red;*/
  transform: translate(-50%, -50%);
  display: none;
  transition: 1s;
  background-size: contain;
}

#vendita.grande {
  width: 300px; height: 300px;
  transition: 1s;
}

#bianco {
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  background-color: white;
  opacity: 0.8;
  display: none;
  transition: 1s;
}

#fascia {
  position: absolute;
  width: 100%; height: 10%;
  left: 0; bottom: 10%;
  background-color: #c32630;
  display: none;
}

#scritta {
  position: absolute;
  height: 60%; width: 40%;
  left: 50%; top: 20%;
  background-image: url("./images/scritta2.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, 0);
  background-position: center;
}

#scritta.animazione {
  animation: trasla 3s linear 1;
}

@keyframes trasla {
  0% {transform: translate(-200%, 0)}
  40% {transform: translate(-50%, 0)}
  20% {transform: translate(-50%, 0)}
  100% {transform: translate(200%, 0)}
}

#didascalia {
  position:absolute;
  top: 90%; left: 5%;
  font-family: coreBold;
  color: #c31f24;
  font-size: 13px;
}

#corona {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("./images/corona.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  top: -35px; right: -25px;
  transform: translate(-50%, -50%);
  transform: rotate(35deg);
}

.box.sopra {
  z-index: 1;
}
